@media (max-width: 1600px) {
  #p1 {
    height: 250px;
    background-size: 1710px 300px;
  }
}

//-------------------------------------------------------
// 1024 x 768
//-------------------------------------------------------
@media (max-width: 1200px) {

  body {
		font-size: 0.8em;
	}

}

//-------------------------------------------------------
// 800 x 600
//-------------------------------------------------------
@media (max-width: 1000px) {

  body {
		font-size: 0.60em;
	}
}

//-------------------------------------------------------
// 640 x 480
//-------------------------------------------------------
@media (max-width: 780px) {

  body {
		font-size: 0.55em;
	}

}
