@media (max-width: 1600px) {
  #p1 {
    height: 250px;
    background-size: 1710px 300px;
  }
}

/* 1024 x 768 */
@media (max-width: 1200px) {
}

/* 800 x 600 */
@media (max-width: 1000px) {

  footer [class*='col-lg-'] {
    text-align: center;
  }
}

/* 640 x 480 */
@media (max-width: 780px) {

}

/* 320 x 480 */
@media (max-width: 350px) {
  #intro img {
    height: initial;
    width: 250px;
  }
}
