/* Global styles */

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
  font-size: 16px;
  color: #5c5959;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #fe1111;
}

img {
  border: 0;
}

/* Layout */
.container {
  margin: 0 auto;
  position: relative;
}

header {
}

footer {
  text-align: center;
  font-size: 12px;
  color: #b5afaf;
}

blockquote {
  color: #999;
  margin-top: 50px;
}

address {
  margin-bottom: 50px;
}

.margined {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* parallax */
#parallax {
}

#p1 {
  background: url('../img/header_panorama.jpg') top center;
  height: 300px;
  background-size: 2880px 505px;
  width: 100%;
}

/* Nav */
.sticky-navigation.stuck {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  background: #fe1111;
  font-size: 14px;
  font-family: Helvetica Neue, Arial;
  z-index: 100;
  border-radius: 0;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #dd0304;
}

.navbar-nav>.active>a:after, .navbar-nav>.active>a::after {
  position: absolute;
  top: 100%;
  left: 10%;
  content: '';
  width: 0;
  height: 0;
  border-top: solid 12px #dd0304;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}

.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
  float: right;
  width: initial !important;
}

.navbar-nav>li>a {
  color: #fff;
  border-radius: 0px;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
  color: #f4f4f4;
}

#navbar .nav-logo {
  height: 35px;
  margin-top: 7px;
  display: none;
}

#navbar.stuck .nav-logo {
  display: block;
}

.nav>li {
  display: inline-block;
}

.nav>li>a {
  padding: 15px 20px;
}


/* Language switch */
.language-container {
  height: 60px;
}

.language-switch {
  list-style: none;
  margin-right: 20px;
  margin-top: -22px;
}


.language-switch li {
  display: inline-block;
  margin-left: 5px;
}

.language-switch a {
  display: block;
  width: 22px;
}

.language-switch a:hover img {
  margin-top: 4px;
}

.language-switch a img {
  width: 22px;
  box-shadow: 0px 0px 4px 1px #888;
  -moz-box-shadow: 0px 0px 4px 1px #888;
  -webkit-box-shadow: 0px 0px 4px 1px #888;
  display: block;
  position: absolute;
}

/* Sections */
section {
  min-height: 600px;
}

section:first-of-type {
  min-height: 500px;
}

.gray {
  background: #f7f5f2;
}

#intro .row {
  text-align: center;
}

#intro img {
  margin: 50px 0 0 0;
  height: 225px;
}

#intro h5 {
  font-weight: normal;
  margin: 10px 0;
  font-size: 14px;
}

.recommended a {
  margin-left: 5px;
}

#map {
  height: 400px;
  margin-top: 30px;
  border: 10px #fff solid;
  box-shadow: 0px 0px 25px -7px;
  -moz-box-shadow: 0px 0px 25px -7px;
  -webkit-box-shadow: 0px 0px 25px -7px;
}

