<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
  <general>
    <timezone>Europe/Warsaw</timezone>
    <php_cli/>
    <domain/>
    <redirect_to_maindomain/>
    <language>en</language>
    <validLanguages>,pl,en</validLanguages>
    <fallbackLanguages>
      <pl/>
      <en/>
    </fallbackLanguages>
    <theme/>
    <contactemail>kontakt@domi-net.com.pl</contactemail>
    <loginscreencustomimage/>
    <disableusagestatistics/>
    <debug>1</debug>
    <debug_ip/>
    <http_auth>
      <username/>
      <password/>
    </http_auth>
    <custom_php_logfile>1</custom_php_logfile>
    <loglevel>
      <debug>1</debug>
      <info>1</info>
      <notice>1</notice>
      <warning>1</warning>
      <error>1</error>
      <critical>1</critical>
      <alert>1</alert>
      <emergency>1</emergency>
    </loglevel>
    <debug_admin_translations/>
    <devmode/>
    <logrecipient/>
    <viewSuffix>phtml</viewSuffix>
    <instanceIdentifier/>
  </general>
  <database>
    <adapter>Mysqli</adapter>
    <params>
      <host>localhost</host>
      <username>root</username>
      <password/>
      <dbname>domi-net</dbname>
      <port>3306</port>
    </params>
  </database>
  <documents>
    <versions>
      <days/>
      <steps>10</steps>
    </versions>
    <default_controller>default</default_controller>
    <default_action>default</default_action>
    <error_pages>
      <default>/</default>
    </error_pages>
    <createredirectwhenmoved/>
    <allowtrailingslash>no</allowtrailingslash>
    <allowcapitals>no</allowcapitals>
    <generatepreview>1</generatepreview>
    <wkhtmltoimage/>
    <wkhtmltopdf/>
  </documents>
  <objects>
    <versions>
      <days/>
      <steps>10</steps>
    </versions>
  </objects>
  <assets>
    <webdav>
      <hostname/>
    </webdav>
    <versions>
      <days/>
      <steps>10</steps>
    </versions>
    <ffmpeg/>
    <qtfaststart/>
    <ghostscript/>
    <icc_rgb_profile/>
    <icc_cmyk_profile/>
  </assets>
  <services>
    <translate>
      <apikey/>
    </translate>
    <google>
      <client_id/>
      <email/>
      <simpleapikey/>
      <browserapikey/>
    </google>
  </services>
  <cache>
    <enabled/>
    <lifetime/>
    <excludePatterns/>
    <excludeCookie/>
  </cache>
  <outputfilters>
    <less/>
    <lesscpath/>
  </outputfilters>
  <email>
    <sender>
      <name/>
      <email/>
    </sender>
    <return>
      <name/>
      <email/>
    </return>
    <method/>
    <smtp>
      <host/>
      <port/>
      <ssl/>
      <name/>
      <auth>
        <method/>
        <username/>
        <password/>
      </auth>
    </smtp>
    <debug>
      <emailaddresses/>
    </debug>
    <bounce>
      <type/>
      <maildir/>
      <mbox/>
      <imap>
        <host/>
        <port/>
        <username/>
        <password/>
        <ssl/>
      </imap>
    </bounce>
  </email>
  <webservice>
    <enabled/>
  </webservice>
  <httpclient>
    <adapter>Zend_Http_Client_Adapter_Socket</adapter>
    <proxy_host/>
    <proxy_port/>
    <proxy_user/>
    <proxy_pass/>
  </httpclient>
  <deployment>
    <enabled>0</enabled>
    <environment>live</environment>
  </deployment>
</zend-config>
